.page-fade-out {
    animation: fade-out 0.5s ease-in-out forwards;
}

.page-fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
