.fade-out-simple {
    animation: fade-out-simple 0.5s forwards;
}

.fade-in-simple {
    animation: fade-in-simple 0.5s forwards;
}

@keyframes fade-out-simple {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in-simple {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
