.home-to-project-transition-out {
    animation: slide-out-to-left 0.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.home-to-project-transition-in {
    animation: slide-in-from-right 0.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes slide-out-to-left {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
